
.container {
  align-items: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  margin: 1%;
}

.logo {
  display: block;
  height: auto;
  width: 100%;
  background-color: white;
  clear: both;
  padding-bottom: 5px;
  padding-top: 10px;
}

.logo img {
  display: block;
  height: 125px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo img:hover {
  animation: shake 2s;
  animation-iteration-count: .5;
}

/* #header {
  /* display: block; */
  /* height: 40px; */
  /* width: 100%; */
  /* color: black; */
  /* padding-left: 2%; */
  /* clear: both; */
/* } */

.travel-form {
color: white;
}

/* .travel-show {

} */
/* Styling for Country Cards */

#country-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: black;
  opacity: .9;
}

.country-card {
  margin: 10px;
  color: white;
  display: inline-block;
  color: white;
  text-align: center;
  animation: moveSlideshow 10s linear;

}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-750%);
  }
}

/* .country-card:hover {
  animation: shake 0.6s;

  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite;
} */

.image-card{
  object-fit: cover;
  width: 350px;
  height: 550px;
  border-style: solid;
  border-color: white;
  border-radius: 100px;

}

body{
  background-color: white;
  color:black;
}


/* Styling for Activity Cards */

#activities-container {
  display: flex-wrap;
}

#activities-container h1 {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 40px;
  position: relative;
  text-align: center;

}

.activity-card {
  display: block;
  float: left;
  height: 675px;
  margin: 1.5%;
  width: 420px;
  font-family: 'Kalam', cursive;
  letter-spacing: 2px;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;

  text-align: center;
  transition: transform 1s;
}
.activity-card:hover{
  transform: scale(.9);
}

.activity-card img {
  display: block;
  margin: auto;
  width: 360px;
  height: 455px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  object-fit: cover;
}

.activity-card h2, .activity-card p {
  text-align: center;
}

.activity-card p:nth-child(1) {
  margin-top: 12px;
  font-size: 30px;
}

.more-info.ui.inverted.button {
  margin-top: 7px;
}

/* Styling for individual activity page and form  */

.detail-card {
  display: block;
  float: left;
  height: auto;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 550px;
  font-family: 'Kalam', cursive;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  object-fit: contain;

}

.detail-card img {
  border-style: solid;
  border-color: white;
  border-style: solid;
  display: block;
  margin: auto;
  margin-bottom: 10%;
  width: 450px;
  height: auto;
  border-radius: 15px;
  padding: 1%;
}

.detail-card h1 {
  text-align: center;
}

#purchase-button.ui.inverted.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form-div{
  margin: 16px;
  float: left;
  padding: 1%;
  width:30%;
  border-style: dotted;
  border-color: black;
  border-radius: 8px;
  background-color: grey;
  color: black;
}

#form input {
  width: 95%;
  height: 30px;
  border-radius: 5px;
  margin: auto;
}

#form label {
  font-size: 15px;
}

/* Styling for Success page */

#success{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:white;
  background-color:#00b5ad;
  opacity: .85;
  width: 700px;
  height: 300px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
}

#success-btn.go-home.ui.inverted.button {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
