
.container {
  align-items: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  margin: 1%;
}

.logo {
  display: block;
  height: auto;
  width: 100%;
  background-color: white;
  clear: both;
  padding-bottom: 10px;
}

.logo img {
  display: block;
  height: 125px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header {
  /* display: block; */
  height: 40px;
  width: 100%;
  color: black;
  padding-left: 2%;
  /* clear: both; */
}

.travel-form {
color: white;
}

/* .travel-show {

} */
/* Styling for Country Cards */

#country-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: black;
  opacity: .9;
}

.country-card{
  margin: 10px;
  color: white;
  display:inline-block;
  color:white;
  text-align: center;

}

.image-card{
  object-fit: cover;
  width: 350px;
  height: 550px;
  border-style: solid;
  border-color: white;
  border-radius: 100px;

}

body{
  background-color: white;
  color:black;
}

html{
  background-color: white;
  opacity: .9;
  color:white;
}

/* Styling for Activity Cards */

#activities-container {
  display: flex-wrap;
  justify-content: space-evenly;
}

#activities-container h1 {
  font-family: 'Jacques Francois Shadow', cursive;
  font-size: 40px;
}

.activity-card img {
  width: 365px;
  height: 450px;
  border-radius: 15px;
  border-style: solid;
  background-color: red;

}

.activity-card{
  font-family: 'Kalam', cursive;
  letter-spacing: 2px;
  background-color: white;
  color:black;
  padding:1%;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  margin: 2%;
  display: inline-block;
  object-fit:contain;
  width: 450px;
  height: 650px;
  clear: both;
}
#activity-show{
  width: 200px;
}
.detail-card{
  background-color: yellow;
  display:inline-block;
  padding: 1%;
  width: 400px;
  height: 700px;
}

.detail-card img{
  width: 325px;
  height: 370px;
  border-style: solid;
  border-color: black;
  border-style: double;
}

#form-div{
  display: inline-block;
  float: left;
  margin: 10%;
  padding: 1%;
  width:30%;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  background-color: green;
}
